@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#App {
    position: relative;
}

.coloredBackground {
    background-color: #6032ff;
}

.coloredBackgroundDarkest {
    background-color: #201738; /* 1d0f4c */
}

.coloredBackgroundDark {
    background-color: #2b2552;
}

.alert {
    display: none;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.alert.hasAlert {
    display: block;
}

.alert .closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
}

#search {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    box-sizing: border-box;
    transition: top .2s ease-out, padding .2s ease-out, width .2s ease-out;
}

#searchInput {
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 15px;
}

#searchInfo, #searchAutoComplete {
    display: block;
    position: absolute;
}

#searchInput label {
    display: block;
    position: relative;
    z-index: 4;
    top: 9px;
    left: 10px;
    font-size: 14px;
    height: 0;
    color: rgba(255,255,255, .4);
}

#search.focused label {
    top: 15px;
    left: 15px;
    font-size: 24px;
}

#search.focused {
    position: absolute;
    width: 90%;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    box-shadow: 0 0 60px 5px rgba(0,0,0, .5);
}

#searchInput input {
    position: relative;
    width: 100%;
    padding: 6px 6px 6px 30px;
    font-size: 14px;
    border-radius: 12px;
    border: 2px solid #744cfc;
    box-sizing: border-box;
    color: #fff;
}

#search.focused input {
    padding: 16px 16px 16px 50px;
    font-size: 18px;
}

#searchInput input:focus {
    outline: none;
}

#searchInfo {
    display: block;
    position: relative;
    /*background-color: #201738;*/
    color: #ccc;
    padding: 5px 15px;
}

#searchAutoComplete {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}

#searchAutoComplete.focused {
    border: 2px solid #6032ff;
}

.searchAutoCompleteItem {
    color: #eee;
    padding: 15px 20px;
    border-bottom: 1px solid #191919;
}

.searchAutoCompleteItem.focused {
    border: 4px solid #0B1;
}

.searchAutoCompleteItem.selected {
    border-left: 10px solid #0B1;
}

#panelDisplay {
    position: relative;
    padding: 0 20px;
    top: 63px;
    transition: top .3s ease-out;
}

#panelDisplay.search {
    top: 0;
}

#panelDisplay .no-results {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.panel {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #eee;
}

.panel-form {
    padding: 20px;
    background-color: #fff;
    border: 1px #f9f9f9 solid;
    box-shadow: 0 5px 20px 5px rgba(0,0,0, .1);
    border-radius: 8px;
    box-sizing: border-box;
}

.panel-form label {
    color: #3d3d3d;
    display: block;
    margin-bottom: 15px;
}

.panel-form input[type="text"] {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #eaeaea;
    font-size: 14px;
    margin-top: 10px;
    box-sizing: border-box;
}

.panel-form button {
    display: block;
    background-color: #6032ff;
    padding: 10px 18px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.small {
    width: 25%;
}